@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');


/* front-page */

header.header .inner_header_3{
  height: 216px;
}
header.header .inner_header_3 .jd-fix-menu{
  width: 100%;
}
header.header .inner_header_3 .jd-fix-menu .inner-jd-fix-menu{
  position: relative;
}
header.header .inner_header_3 .jd-fix-menu .inner-jd-fix-menu .jd-fix-logo{
  height: 155px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header.header .inner_header_3 .jd-fix-menu .inner-jd-fix-menu .jd-fix-logo img{
  width: 85px;
  height: auto;
  margin-top: 20px;
}

header.header .inner_header_3 .jd-fix-menu .inner-jd-fix-menu .menu-jordan-home-container{
  height: 60px;
}
header.header .inner_header_3 .jd-fix-menu .inner-jd-fix-menu .menu-jordan-home-container ul{
  display: flex;
  justify-content: center;
}
header.header .inner_header_3 .jd-fix-menu .inner-jd-fix-menu .menu-jordan-home-container ul li{
  padding: 20px 26px;
}

header.header .inner_header_3 .jd-fix-menu.fix-top{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
header.header .inner_header_3 .jd-fix-menu.fix-top .inner-jd-fix-menu{
  height: 60px;
  background-color: #fff;
}
header.header .inner_header_3 .jd-fix-menu.fix-top .inner-jd-fix-menu .jd-fix-logo{
  height: 60px;
  display: block;
  position: absolute;
  left: 3vw;
  top: 0;
}
header.header .inner_header_3 .jd-fix-menu.fix-top .inner-jd-fix-menu .jd-fix-logo img{
  width: 35px;
  margin-top: 15px;
}

.home .inner-main .section{
  width: 100%;
}

.home .inner-main .section-coll{
  text-align: center;
}

.home .inner-main .section-coll .main-content-img{
  display: block;
  width: 100%;
}

.home .inner-main .section-coll .main-content-img img{
  width: 100%;
  height: auto;
}
.home .inner-main .section-coll .section-coll-text{
  margin: 24px 0 100px;
}


.home .inner-main .section-coll .section-coll-text h3{
  font-size: 2.6875rem;
  font-weight: 700;
  letter-spacing: -1px;
  margin: 13px 0;
}
.home .inner-main .section-coll .section-coll-text p{
  margin-bottom: 20px;
  font-size: 1rem;
  letter-spacing: -1px;
}

.home .inner-main .section-coll .section-coll-text button{
  letter-spacing: -0.5px;
  font-size: 1rem;
  font-weight: 600;
}


.home .inner-main .section-slider > h2{
  margin-bottom: 16px;
  letter-spacing: -1px;
  font-size: 1.4375rem;
  color: #111;
  line-height: 1.5;
  font-weight: 500;
}
.home .swiper-slide{
  margin-bottom: 15px;
}
.home .img-area{
  height: 750px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.home .text-area{
  padding: 20px 0 30px;
}

.home .text-area h4{
  letter-spacing: -1px;
  color: #111;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.75;
}
.home .text-area p{
  font-size: 1rem;
  letter-spacing: -1px;
  color: #8d8d8d;
  font-weight: 300;
}

.home .swiper-container-horizontal>.swiper-scrollbar {
  width: 80%;
  left: 10%;
  height: 4px !important;
  background: #f5f5f5;
}

.home .swiper-scrollbar .swiper-scrollbar-drag{
  background-color: #ccc;
}

.home .inner-main .section-last{
  margin-top: 80px;
}


/* search */

.search .img-area img{
  width: 100%;
  height: auto;
}



/* item-filter-order-header.php */

.item-orderby-header{
  width:100%;
  height: 103px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 999;
}
.item-orderby-header .inner-orderby-header{
  height: 100%;
  /* width:100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.item-orderby-header.fix-top{
  width: 100vw;
  height: 66px;
  position: fixed;
  top: 0;
  left: 0;
}

.item-orderby-header h4{
  font-size: 1.375rem;
  font-weight: 500;
  transition: 0.3s ease;
}

.item-orderby-header.fix-top .inner-orderby-header h4{
  font-size: 1.125rem;
}

.item-orderby-header h4 span{
  text-transform: capitalize;
}
.item-orderby-header .order-by-filter{
  display: flex;
  align-items: center;
  gap:30px;
}
.item-orderby-header .order-by-filter .filter-btn{
  border: none;
  background: none;
  box-shadow: none;
}

.item-orderby-header .order-by-filter .filter-btn .filter-off{
  display: none;
}
.item-orderby-header .order-by-filter .filter-btn.off .filter-on{
  display: none;
}
.item-orderby-header .order-by-filter .filter-btn.off .filter-off{
  display: inline-block;
}


.item-orderby-header .order-by-filter .order-by-list .order-by-list-select{
  position: absolute;
  right: 0;
  width: 150px;
  top: 100%;
  background: #fff;
  text-align: right;
  padding: 0 15px 20px;
  border-bottom-left-radius: 20px;
  transition: 0.3s ease;
  visibility: hidden;
  opacity: 0;
}
.item-orderby-header .order-by-filter .order-by-list .order-by-list-select.on{
  visibility: visible;
  opacity: 1;
}

.item-orderby-header.fix-top .order-by-filter .order-by-list .order-by-list-select{
  /* margin-right: 3vw; */
}


.item-orderby-header .order-by-filter .order-by-list .order-by-list-select a{
  display: block;
  line-height: 1.8;
}
.item-orderby-header .order-by-filter .order-by-list .order-by-list-select a:hover{
  color: lightgray;
}


/* category page */

.tax-product_cat .inner-main{
  position: relative;
}
.tax-product_cat .inner-main .s-side{
  position: absolute;
  top: 110px;
  left: 0;
  width: 240px;
  transition: 0.3s ease;
}
.tax-product_cat .inner-main .s-side.fix-top{
  position: fixed;
  top: 70px;
  
}
.tax-product_cat .inner-main .s-side.fix-top .inner-s-side{
  padding-left: 2.5vw;
}

.jordan-menu li{
  line-height: 2;
  font-weight: 400;
  letter-spacing: -0.5px;
  font-size: 0.9375rem;
}
.jordan-menu li a{
  transition: 0.2s;
}
.jordan-menu li a:hover{
  color: lightgray;
}
.tax-product_cat .inner-main .s-side.off{
  left: -240px;
}
.tax-product_cat .inner-main .s-items{
  padding-top: 103px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-left: 240px;
  transition: 0.3s ease;
}
.tax-product_cat .inner-main .s-items.off{
  padding-left: 0;
}


.jd-item {
  width: calc(33.333% - 10px);
}
.jd-item img{
  width: 100%;
  height: auto;
}
.jd-item .jd-item-info .jd-item-tag span{
  display: inline-block;
  margin-right: 5px;
}
.cat-tit-area{
  position: relative;
  width: 100%;
  margin-bottom: 60px;
}

.cat-tit-area img{
  width: 100%;
  height: auto;
}

.cat-tit-area h2{
  position: absolute;
  line-height: 1;
  font-size: 27px;
  font-weight: 700;
  letter-spacing: -1.5px;
  top: calc(50% - 3px);
  left: 45px;
  color: white;
}




.jd-item .jd-item a{
  display: block;
  width: 100%;
}
.jd-item .jd-item a img{
  width: 100%;
  height: auto;
}

.s-no-result{
  padding: 50px 0 0;
  text-align: center;
  /* border-bottom: 1px solid #e5e5e5; */
  min-height: 300px;
}

.s-no-result h5{
  color: #111111;
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.s-no-result h5 span{
  color: #fb5302;
}

.s-no-result p{
  color: #999;
  padding-bottom: 50px;
  border-bottom: 1px solid #e5e5e5;
}

.container-3 > h4{
text-align: center;
font-size: 1.25rem;
font-weight: bold;
line-height: 1.2;
letter-spacing: 0.5px;
padding-bottom: 20px;
}

.container-3 .text-area{
  min-height: 200px;
}

.jd-item-info {
  position: relative;
  padding-bottom: 30px;
  min-height: 150px;
}
.jd-item-price{
  position: absolute;
  right: 0;
  top: 0;
  padding-left: 50px;
  
}
.jd-item-price:before{
  content: attr(data-sale);
  position: absolute;
  left: 0;
  color: #FF6600;
}
.jd-item-name{
  letter-spacing: -0.5px;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.4em;
}
.s-result-item-tag, .s-result-item-color-opt{
  color: #8d8d8d;
  font-weight: normal;
  line-height: 1.6em;
    letter-spacing: -0.5px;
}


.s-result-item-price .before-price{
  text-decoration: line-through;
  color: #8d8d8d;
  letter-spacing: -0.5px;

}



/* single-product.php */

.product-detail{
  display: flex;
}

.product-detail .product-images{
  flex:2.1;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: flex-start;
}
.product-detail .product-images .product-image{
  width: calc(50% - 10px);

}
.product-detail .product-images .product-image img{
  width: 100%;
  height: auto;
}

.product-detail .product-info{
  margin-left: 70px;
  flex: 0.9
}
.product-detail .product-info > h5{
  font-size: 1rem;
  font-weight: 300;
  position: relative;
  margin-bottom: 15px;
}
.product-detail .product-info > h5 span{
  position: absolute;
  right: 0;
  font-weight: bold;
}

.product-detail .product-info > h1{
  color: #000;
  font-size: 1.75rem;
  margin-bottom: 50px;
}
.product-detail .product-info .product-colors{
  margin-bottom: 30px;
}
.product-detail .product-info .product-colors a{
  display: inline-block;
  transition: filter 0.3s ease;
  width: 72px;
  height: 72px;
}

.product-detail .product-info .product-colors a.this_product,
.product-detail .product-info .product-colors a:hover{
  filter: brightness(0.95);
}

.product-detail .product-info .product-colors a img{
  width: 100%;
  height: 100%;
}
.product-detail .product-info .product-siezes > h4{
  position: relative;
  margin-bottom: 30px;
}
.product-detail .product-info .product-siezes > h4 span{
  position: absolute;
  right: 0;
  font-size: 0.75rem;
  color: #ccc;
  font-weight: 300;
}
.product-detail .product-info .product-siezes ul{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 30px;
}
.product-detail .product-info .product-siezes ul li {
  width: calc(20% - 5px);
  height: 50px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
}

.product-detail .product-info .product-siezes ul li input[type="radio"]{
  display: none;
}

.product-detail .product-info .product-siezes ul li label{
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.product-detail .product-info .product-siezes ul li input[type="radio"]:checked + label{
  background: #000;
  color: white;
}
.product-detail .product-info .product-siezes ul li label:hover{
  border: 1px solid #111;
  cursor: pointer;
}
.product-detail .product-info .product-siezes ul li input[type="radio"]:disabled + label{
  background: #fefefe;
  color: #f0f0f0;
}
.product-detail .product-info .product-siezes ul li input[type="radio"]:disabled + label:hover{
  border: none
}
.product-detail .product-info form > p:first-of-type{
  font-size: 0.875rem;
  margin-bottom: 20px;
  font-weight: bold;
}
.product-detail .product-info form > p:first-of-type strong{
  font-stretch: ultra-condensed;
  font-family: 'Roboto Condensed', sans-serif;
}
.product-detail .product-info form > p:last-of-type {
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5
}
.product-detail .product-info .btn-area{
  padding: 20px 0;
}
.product-detail .product-info .btn-area button.quickBuyBtn{
  width: 100%;
  display: block;
  height: 60px;
  border-radius: 30px;
  background-color: #111;
  color: #fff;
  border: none;
  box-shadow: none;
  font-size: 1.0125rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.product-detail .product-info .btn-area p{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-detail .product-info .btn-area span ,
.product-detail .product-info .btn-area input[type="submit"] {
  display: inline-block;
  width: 49%;
  text-align: center;
  height: 60px;
  background: none;
  box-shadow: none;
  border: 1px solid #111;
  line-height: 58px;
  border-radius: 30px;
  font-size: 1.0125rem;
  font-weight: bold;
}

.product-detail .product-info .btn-area span input#wish_cb{
  display: none;
}
.product-detail .product-info .btn-area span label[for="wish_cb"]{
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.product-detail .product-info .btn-area span label[for="wish_cb"]:after{
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}
.product-detail .product-info .btn-area span input#wish_cb:checked + label[for="wish_cb"]:after{
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.product-detail .product-info form p {
  display: flex;
  align-items: center;
}
.product-detail .product-info form p input[type="number"]{
  text-align: center; 
  border: none;
  display: inline-block;
  height: 100%;
  font-size: 1rem;
}
.product-detail .product-info form p input[type="number"]::-webkit-outer-spin-button,
.product-detail .product-info form p input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product-detail .product-info form p button{
  border: none;
  font-size: 2rem;
  background: none;
  box-shadow: none;
  display: inline-block;
  width: 25px;
  height: 25px;
  position: relative;
  text-indent: -9999px;
}
.product-detail .product-info form p button.qty-minus:before{
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  left: 25%;
  width: 50%;
  height: 0;
  border-top: 2px solid;
}

.product-detail .product-info form p button.qty-plus:before{
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  left: 25%;
  width: 50%;
  height: 0;
  border-top: 2px solid;
}
.product-detail .product-info form p button.qty-plus:after{
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  left: 25%;
  width: 50%;
  height: 0;
  border-top: 2px solid;
  transform: rotate(-90deg);
}


.product-detail .product-info .content .inner-content{
  font-size: 0.875rem;
  margin-bottom: 15px;
}
.product-detail .product-info .content > button{
  border: none;
  box-shadow: none;
  background: none;
  text-decoration: underline;
}
.product-detail .product-info .store-pick-up {
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.product-detail .product-info .store-pick-up button{
  width: 100%;
  height: 50px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background: none;
  box-shadow: none;
  color: #575757;
  margin-bottom: 10px;
}
.product-detail .product-info .store-pick-up p{
  font-size: 0.8125rem;
  position: relative;
}

.product-detail .product-info .store-pick-up p a{
  position: absolute;
  right: 0;
  text-decoration: underline;
}

.product-read-more{
  visibility: hidden;
  opacity: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 999;
  transition: 0.5s ease;
}
.product-read-more.on{
  visibility: visible;
  opacity: 1;
}